ARO_benchmark/GQA_raw/
ARO_benchmark/VGA_VGR/
ARO_benchmark/__pycache__/
ARO_benchmark/COCO_Order/
ARO_benchmark/clip_perf_aro.txt
ARO_benchmark/negclip_perf_aro.txt
.idea/
raw_data/
process_data/
venv/
CLIP/__pycache__/
CLIP/dev.ipynb
NegCLIP/__pycache__/
NegCLIP/runs/
NegCLIP/weights/
COCO/annotations/
COCO/val2014
COCO/train2014
COCO/pairwise_sim/
CLIP/openai_clip.py
CLIP/clip_weights/
CLIP/dev.py
COCO_ORDER//
GQA_raw/
CLIP/func_attention.py
CLIP/my_clip_weights/
CLIP/my_clip_weights.pth
Text_FineTuning/dev.ipynb
Text_FineTuning/tsne_demo.py
Text_FineTuning/training.py
Text_FineTuning/tsne_demo.py