ARO_benchmark/GQA_raw/
ARO_benchmark/VGA_VGR/
ARO_benchmark/__pycache__/
.idea/
raw_data/
process_data/
venv/
CLIP/__pycache__/
CLIP/dev.ipynb
NegCLIP/__pycache__/
NegCLIP/runs/
NegCLIP/weights/
COCO/annotations/instances_val2014.json
COCO/annotations/instances_train2014.json
COCO/annotations/person_keypoints_train2014.json
COCO/annotations/person_keypoints_val2014.json
COCO/annotations/captions_negcaptions_val2014.json
COCO/val2014
CLIP/openai_clip.py
CLIP/clip_weights/
CLIP/dev.py
